services:
  imagehandler:
    build:
      context: .
    ports:
      - 80:80
    environment:
      IMAGEHANDLERAUTHJSON: '{ "github.com": ["", "", "SSL"] }'
    volumes:
      - ./src:/var/www/html
